<h2>Add a New Cocktail</h2>

<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

 <!--  <#%= f.label :ingredient %>
  <#%= f.select :ingredient, SEEDFILE %> -->

  <%= f.label :dose %>
  <%= f.text_field :dose %>

  <%= f.submit %>
<% end %>
